In [14]:
%load_ext nb_black

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [15]:
!pip install fugue[all]

Requirement already satisfied: fugue in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (0.8.3)
Requirement already satisfied: sqlglot in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from fugue) (11.5.2)
Requirement already satisfied: jinja2 in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from fugue) (3.1.2)
Requirement already satisfied: pyarrow>=0.15.1 in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from fugue) (11.0.0)
Requirement already satisfied: pandas<2,>=1.2.0 in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from fugue) (1.5.3)
Requirement already satisfied: qpd>=0.4.0 in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from fugue) (0.4.0)
Requirement already satisfied: fugue-sql-antlr>=0.1.6 in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from fugue) (0.1.6)
Requirement already satisfied: triad>=0.8.4 in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from fugue) (0.8.4)
Requirement already satisfied: adagio>=0.2.4 in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from fugue) (0.2.4)
Requirement already satisfied: antlr4-python3-runtime<4.12,>=4.11.1 in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from fugue-sql-antlr>=0.1.6->fugue) (4.11.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from pandas<2,>=1.2.0->fugue) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from pandas<2,>=1.2.0->fugue) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from pandas<2,>=1.2.0->fugue) (1.24.1)
Requirement already satisfied: six in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from triad>=0.8.4->fugue) (1.16.0)
Requirement already satisfied: fs in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from triad>=0.8.4->fugue) (2.4.16)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from jinja2->fugue) (2.1.1)
Requirement already satisfied: setuptools in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from fs->triad>=0.8.4->fugue) (65.6.3)
Requirement already satisfied: appdirs~=1.4.3 in /Users/tnmthai/miniconda3/lib/python3.10/site-packages (from fs->triad>=0.8.4->fugue) (1.4.4)

# Import

In [36]:
from fugue_notebook import setup

setup()

In [17]:
import pandas as pd

df = pd.DataFrame({"col1": [1, 2, 3, 4], "col2": ["a", "b", "c", "c"]})
df

   col1 col2
0     1    a
1     2    b
2     3    c
3     4    c

In [18]:
%%fsql 

SELECT *
FROM df 
WHERE col2="c"
PRINT

In [19]:
%%fsql 

SELECT col2, AVG(col1) AS avg_col1
FROM df 
GROUP BY col2
PRINT

# Enhance SQL Interface

In [20]:
%%fsql  

df2 = SELECT *
FROM df 
WHERE col2="c"

SAVE df2 OVERWRITE '/tmp/df2.csv' (header=true)

In [21]:
%%fsql  

df3 = LOAD '/tmp/df2.csv' (header=true)

SELECT *
FROM df3
PRINT

# Added Keywords

## DROP

In [22]:
%%fsql 

df4 = DROP COLUMNS col2 IF EXISTS FROM df
PRINT df4

## FILL

In [23]:
import numpy as np

null_df = pd.DataFrame({"col1": [np.nan, np.nan, 1], "col2": [2, 3, np.nan]})

In [24]:
%%fsql
-- Fill nan at col1 with 1 and nan at col2 with 2
df1 = FILL NULLS PARAMS col1:1, col2:2 FROM null_df
PRINT df1

## SAMPLE

In [25]:
%%fsql
df2 = SAMPLE 2 ROWS SEED 42 FROM df
PRINT df2
df3 = SAMPLE 50 PERCENT SEED 1 FROM df
PRINT df3

# Intergrate with Python

In [26]:
# schema: *, col3:str
def str_concat(df: pd.DataFrame, delimeter: str) -> pd.DataFrame:
    df = df.assign(col3=df["col1"].astype(str) + delimeter + df["col2"])
    return df

In [27]:
%%fsql 
SELECT * 
FROM df
PRINT

In [28]:
%%fsql 
SELECT * 
FROM df 
TRANSFORM USING str_concat(delimeter="_")
PRINT